$primary-blue: #59A5FF;

 .nav-link, .header-brand {
   color: white !important;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 700;
   letter-spacing: 1.1px;
 }

 .nav-link {
   padding: 0 15px !important;
 }

 .nav-link:hover {
   border-bottom: 2px solid #ff0080;
 }

 .navbar-toggler {
  border-color: white;
 }

 .header-brand {
  font-family: 'Baloo', sans-serif;
  font-size: 2em;
 }

#background-image {
  position: relative;
  background: url('../img/background2.jpg') no-repeat;
  background-position: right top;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.opening-line {
  position: absolute;
  top: 30%;
  left: 0;
  padding-left: 30px;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #F1F1F1;

  h5 {
    width: 350px;
    letter-spacing: 1.15px;
    line-height: 1.5;
    font-size: 0.75em;
  }

  .secondary-line {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    letter-spacing: 2px;
  }

  h3 {
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 2px;
  }

  #sign-up, #sign-in {
    margin-top: 10px;
    width: 150px;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    border-width: 2px;
    border-color: white;
  }

  #sign-up {
    background-color: white;
    color: black;
  }

  #sign-up:hover {
    color: white;
    background-color: black;
  }

  #sign-in {
    color: white;
  }

  #sign-in:hover {
    color: black;
    background-color: white;
  }
}
